/* CSS Estrutural do (index.html) */

body {
    font-family: 'Montserrat', sans-serif;
}

header {
	background: linear-gradient(to right, #0000FF, #00FFFF, #800080, #ff69b4, #FF0000, #FFFF00, #FFA500);
	padding: 0px 0;
    height: 50px;
	margin-left: 0;
	display: flex;
	align-items: center;
}

.social_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    width: auto;
    height: 50px;
    border: 5px solid #000000;
    background-color: #000000;
    padding-right: 50px;
}    

.social_container li {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    list-style: none;
    margin: 5px 0;
    padding: 5px;
    animation: mudarTamanho 20s infinite;
}

.social_icons {
    display: flex;
    align-items: center;
	justify-content: flex-end;
	margin-left: 20px; 
    background-color: #000000;
    padding: 0px 5px;
    transform: translateY(-6px);
}

.icon_link {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    display: flex;              
    align-items: center;        
    justify-content: flex-end; 
    margin-left: 10px;
    padding: 5px;
}   

.icon_link img {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background-color: #000000;
    display: block;
}

.icon_link img:hover {
    font-style: italic;
    color: #FF0000;
}

nav {
    padding: 0 20px;
    margin-right: 40px;
	margin-left: 40px;
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav_img {
    width: 50px;
    height: 45px;
    margin-right: 50px;
    border-radius: 30px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-right: 30px;
}

nav a {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    padding: 10px 10px 5px 10px;
    text-decoration: none;
    position: relative;
}

@keyframes mudarTamanho {
    0% {
        font-size: 5px;
    }
    50% {
        font-size: 10px;
    }
    100% {
        font-size: 15px;
    }
}

nav a::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

nav a:hover::after {
    transform: scaleX(1);
}

nav a:hover {
    font-style: italic;
    color: yellow;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 40px;
  }
  
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    background: white;
    border-radius: 20px;
    padding: 20px;
    gap: 20px; 
}
    
.content {
    flex: 1;
    max-width: 50%;
    padding: 20px 50px 10px 20px;
}
  
.content h2 {
    font-size: 35px;
    color: #FF0000;
    margin-bottom: 20px;
    text-shadow: 3px 3px 2px white;
    font-weight: bold;
    text-align: center;
}
  
.content p {
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
    text-indent: 50px;
    margin-bottom: 15px;
}
  
.content img {
    width: 100px;
    height: 90px;
    margin: 0 0 10px 0;
    border-radius: 60px;
    background-color: white;
    animation: go-back 8s infinite alternate;
}
  
  /* Animação */
  @keyframes go-back {
    from {
      transform: translateX(300px);
    }
    to {
      transform: translateX(10px);
    }
}
  
.container_img-wrapper {
    flex: 1;
    max-width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-10%);
}
  
.container_img-background {
    position: absolute;
    width: 94%;
    height: 105%;
    background: linear-gradient(135deg, #800080, #FF69B4, #FF0000);
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transform: translate(0, 0); 
}
  
.container_img {
    position: relative;
    max-width: 90%;
    height: auto;
    border-radius: 20px;
    border: 5px solid #FFFFFF;
    z-index: 2;
}
  
.dojo {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #c0c0c0);
}

.dojo_conteudo {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: 20px;
    flex-wrap: wrap; 
    gap: 100px; 
}

.dojo_imagem {
    width: 100%;
    max-width: 450px; 
    height: auto;
    background: #FFFFFF;
    border: 3px ridge #FEFEFE;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 0 #000000;
}

.dojo_texto {
    flex: 1; 
    max-width: 450px; 
    text-align: justify;
    font-weight: bold;
    font-size: 18px; 
    line-height: 1.5;
    padding: 20px;
}

.dojo_titulo {
    color: #FF0000;
    text-shadow: 3px 3px 2px white;
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center; 
}

.beneficios {
    padding: 3em 0;
    background: #c0c0c0;
}

.beneficios_imagem {
    width: 100%;
    max-width: 750px;
    height: auto;
    border: 3px ridge #FEFEFE;
    border-radius: 20px;
    margin: 250px auto 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
      
.beneficios_titulo {
	font-size: 35px;
	font-weight: bold;
	color: #FF0000;
	text-shadow: 3px 3px 2px white;
	text-align: center;
	padding: 250px 20px 100px 20px;
}


.beneficios_conteudo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 35px;
    flex-wrap: wrap;
    padding-bottom: 60px;
}


.beneficios_lista {
    text-align: justify;
    text-indent: 50px;
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    font-size: 35px;
    line-height: 1.5;
    list-style: none;
    padding: 20px 20px 0px 20px;
}


.beneficios_itens:before {
    content: "*";
    margin-right: 10px;
}

.beneficios_itens {
    line-height: 1,9;
    margin-bottom: 20px;
}


.mestre {
    width: 80%;
    max-width: 550px;
    height: 80%;
    border: 3px ridge #FEFEFE;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 0 #000000;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2px 2px 2px 2px
}  

/* CSS Rodape do (index.html)*/

.rodape {
    color: #FFFFFF;
     background: #888888;
     font-size: 12px;
     font-weight: bold;
     margin: 0px 0 0;
     text-align: center;
     display: flex; 
     align-items: center; 
     justify-content: center;
}

.rodape ol {
     align-items: center;
     margin-top: 10px;
     width: 80px;
     height: 80px;
}

.rodape img.logo {
     width: 60px;
     height: 50px;
}

.rodape li {
    display: inline-flex;
    justify-content: right;
    align-items: right;
    line-height: 1.2;
    width: 200px;
    height: 10px;
    margin: 5px 0 5px 150px;
    color: #E0E0E0;
}

.rodape a { 
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    padding: 10px 10px 5px 10px;
    text-decoration: none;
    position: relative;
    color: #FFAAAA;
}

.rodape li:first-child {
    height: 20px; 
}

.rodape li:last-child {
    height: 30px; 
}
  

/* Responsividade - index.html*/
@media (max-width: 1243px) {
    header {
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    nav li {
        margin: 10px 0;
    }

    nav a {
        font-size: 16px;
    }

    .nav_img {
        width: 80px;
        height: 70px;
        margin: 0 auto;
    }

    
    .social_container {
        width: 100%;
        max-width: 1243px;
        margin: 0 auto;
        padding: 10px;
        text-align: center;
        border: 5px solid #000000;
    }

    .social_icons {
        justify-content: center;
        margin-top: 10px;
        flex-wrap: wrap;
    }

    .icon_link {
        margin: 5px;
        width: 30px;
        height: 30px;
    }


    .rodape {
        color: #FFFFFF;
         background: #888888;
         font-size: 12px;
         font-weight: bold;
         margin: 0px 0 0;
         text-align: center;
         display: flex; 
         align-items: center; 
         justify-content: center;
    }
 
     .rodape ol {
         align-items: center;
         margin-top: 10px;
         width: 80px;
         height: 80px;
    }
 
     .rodape img.logo {
         width: 60px;
         height: 50px;
    }

    .rodape li {
        display: inline-flex;
        justify-content: right;
        align-items: right;
        line-height: 1.2;
        width: 200px;
        height: 10px;
        margin: 5px 0 5px 150px;
        color: #E0E0E0;
    }
    
    .rodape a { 
        text-transform: uppercase;
	    font-weight: bold;
	    font-size: 14px;
        text-align: center;
        display: inline-block;
        padding: 10px 10px 5px 10px;
        text-decoration: none;
        position: relative;
        color: #FFAAAA;
    }
    
    .rodape li:first-child {
        height: 20px; 
    }
    
    .rodape li:last-child {
        height: 30px; 
    }
    
}

/* Ajustes para telas entre 595px e 800px */
@media (max-width: 879px) and (min-width: 600px) {

    .social_container {
        width: 100%; 
        max-width: 879px; 
        margin: 0 auto;
        padding: 10px;
        text-align: center;
    }

    .social_icons {
        justify-content: center;
        margin-top: 10px; 

    }

    .icon_link {
        margin: 5px;
        width: 30px; 
        height: 30px; 
    }

    .beneficios_titulo {
        padding-top: 60px;
        padding-bottom: 40px;
    }

    
    .beneficios_imagem {
        width: 90%;
    }    


    .beneficios_conteudo {
        display: flex;
        align-items: right;
	    justify-content: right;
	    text-align: right;
        width: 95%;
        height: 95%
    }

    .beneficios_lista {
        width: 60%;
        margin: 0 auto;
    }

    .beneficios_itens {
        font-size: 20px;
    }

    .mestre {
        width: 30%;
        height: 40%;
        margin-right: 30px;
        margin-left: 0;
    }


    .dojo_imagem {
        max-width: 95%;
    }

    .container_img {
        max-width: 90%;
    }

    .principal_titulo {
        font-size: 30px;
        padding: 120px 30px 10px 0;
    }

    .principal p {
        font-size: 30px;
    }

    .dojo p {
        font-size: 30px;
    }

    .dojo_conteudo {
        width: 100%;
        margin: 0 auto;
    }

}

/* Ajustes para telas entre 880px e 1240px */
@media (max-width: 1940px) and (min-width: 880px) {
    
    .social_container {
        width: 100%; 
        max-width: 1940px; 
        margin: 0 auto; 
        padding: 10px;
        text-align: center;
    }

    .social_icons {
        justify-content: center;
        margin-top: 10px; 
        flex-wrap: wrap;
    }

    .icon_link {
        margin: 5px;
        width: 30px; 
        height: 30px; 
    }


    .beneficios_itens {
        font-size: 15px;
    }

    .beneficios_imagem {
        width: 90%;
    }


    .beneficios_conteudo {
        display: flex;
        align-items: right;
	    justify-content: right;
	    text-align: right;
        width: 95%;
        height: 95%;
    }

    .beneficios_lista {
        width: 60%;
        margin: 0 auto;
    }

    .beneficios_itens {
        font-size: 20px;
    }

    .mestre {
        width: 30%;
        height: 40%;
        margin-right: 30px;
        margin-left: 0;
    }
}



/* Ajustes para telas abaixo de 599px */
@media (max-width: 599px) and (min-width: 300px) {
    
    .principal p {
        font-size: 20px;
    }

    .dojo p {
        font-size: 20px;
        padding: 5px 10px 5px 10px;
    }

    .dojo_conteudo {
        width: 90%;
        margin: 0 auto;
    }

    .dojo_titulo {
        font-size: 25px;
	    padding: 5px 10px 0px 10px;
    }

    .beneficios_titulo {
        font-size: 20px;
	    padding: 90px 20px 40px 20px;
    }

    .principal_titulo {
        font-size: 20px;
	    padding: 70px 20px 10px 20px;
    }


    .beneficios_imagem {
        width: 80%;
    }

    .beneficios_conteudo {
        display: flex;
        align-items: right;
	    justify-content: right;
	    text-align: right;
        width: 100%;
        height: 100%;
        margin-right: 20px;
        margin-left: 1px;
    }

    .beneficios_itens:before {
        content: "🟊";
        margin-right: 5px;
    }

    .beneficios_lista {
        width: 55%;
        margin: 0 auto;
        text-indent: 10px;
    }

    .beneficios_itens {
        font-size: 12px;
        line-height: 1;
        margin-bottom: 2px;
        margin-left: 0;
    }

    .mestre {
        width: 40%;
        height: 50%;
        margin-right: 15px;
        margin-left: 0;
    }

    .nav-arrows {
        position: absolute;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transform: translateY(-50%);
    }

    .nav-arrows a {
        font-size: 5px;
        padding: 5px;
    }

    .social_container {
        width: 100%; 
        max-width: 599px; 
        margin: 0 auto;
        padding: 5px;
        text-align: center;
    }

    .social_icons {
        justify-content: center;
        margin-top: 10px;
        flex-wrap: wrap;
    } 
    

    .icon_link {
        width: 25px; 
        height: 25px;
    }

} 

/* CSS do index.html - desenvolvido por Patrícia Sousa*/